<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpConfig" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>

      </basicHttpBinding>
    </bindings>

    <services>
      <service name="VideoSynchroniserService.WCF.MediaSupplier" behaviorConfiguration="VideoSynchroniserService.Behaviour">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpConfig" contract="VideoSynchroniserService.WCF.IMediaSupplier">
          <identity>
            <dns />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8523/VideoSynchroniser/service/"/>
          </baseAddresses>
        </host>
      </service>
    </services>


    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="VideoSynchroniserService.Behaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="100" maxConcurrentInstances="10" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <appSettings>
    <add key="FolderPath" value="C:\Users\ciaran.mccarthy\Desktop\Video transfer" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>